body{
    background-color: black
}

h1{
    text-align: center;
    color: purple
}

#img1{
    text-align: center;
    display: block;
    margin: 0 auto;
}

p{
    color: purple;
    text-align-last: center
}